<main ng-controller="TodoCtrl as vm">

  <div class="row">
    <div class="col-xs-8 col-xs-offset-3">
      <form class="form-task" ng-submit="vm.saveOrUpdate(vm.newTask)">
        <div class="col-xs-6">
          <input type="text" class="form-control input-lg input-task" placeholder="Adicionar Tarefa"
            ng-model="vm.newTask.name" ng-blur="vm.cleanFocus()" focus-if="vm.focus">
        </div>
        <div class="col-xs-6">
          <div ng-show="vm.isNew(vm.newTask)">
            <input type="submit" class="btn btn-lg btn-success" value="Adicionar">
          </div>

          <div ng-show="!vm.isNew(vm.newTask)">
            <input type="submit" class="btn btn-lg btn-success" value="Alterar">
            <input type="button" class="btn btn-lg btn-danger" ng-click="vm.cancel()" value="Cancelar">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-3 todo" ng-repeat="task in vm.tasks">
      <div class="todo-body">
        <div class="todo-buttons">
          <a href="" ng-click="vm.edit(task)">
            <i class="glyphicon glyphicon-pencil"/>
          </a>
          <a href="" ng-click="vm.remove(task)">
            <i class="glyphicon glyphicon-remove"/>
          </a>
        </div>
        {{task.name}}
      </div>
    </div>
  </div>
</main>
