.todo {
  padding: 10px;
}

.todo-close {
  padding: 5px 5px
}

.todo-body {
    padding:20px 10px 20px 20px;
    min-height: 100px;
    background-color: #ffff8d;
    color:#000;
    font-size: 15px;
    box-shadow: 3px 3px 5px rgba(50, 50, 50, .5);
}

.todo-buttons {
  float: right;
}

.form-task {
  margin-bottom: 100px;
}

.input-task {
  box-shadow: 3px 3px 5px rgba(50, 50, 50, .2);
}
