<main ng-controller="TodoController">
  <br/>
  {{attrName}}
  <div ng-show="airplane">
    <loading msg="Loading" ></loading>
  </div>
  <br/>
  <input type="text" ng-model="newtask.name"/>
  <input type="button" class="btn btn-lg btn-success" ng-click="save(newtask);" value="Salvar">
  <input type="button" class="btn btn-lg btn-cancel" ng-click="cancel();" value="Cancelar">

  <div ng-repeat="task in tasks">
    <div class="row">
      {{task.name}}
      <input type="button" class="btn btn-xs btn-success" ng-click="update(task);" value="U">
      <input type="button" class="btn btn-xs btn-danger" ng-click="delete(task);" value="X">
    </div>
  </div>
</mail>
